* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.header {
  border: 1px solid black;
}
.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.landing_article {
  margin-left: 50px;
  margin-top: 100px;
  flex: 3;
}
.register-button {
  flex: 1;
  margin-top: 100px;
}
.sectionrow {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-top: 1px;
  height: 500px;
  align-items: center;
}
.video {
  display: flex;
  border: 1px solid black;
  max-width: 800px;
  height: 200px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}
.register-form {
    margin-top: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 190px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.hidden {
    display: none;
}
li {
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
}
ul{
    list-style: none;
}
.log {
    margin-top: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
